body {
  background-color: black;
  overflow: hidden;
}

.App {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: 야스 10000ms linear infinite;
}

.yajojo {
  animation: rotate_image 50000ms linear infinite;
}

.img {
  animation: rotate_image 20000ms linear infinite;
  transform-origin: 50% 50%;
}

img {
  width: 1000px;
  height: auto;
}

.yaho {
  animation: rotate_image 100s linear infinite;
  transform-origin: 50% 50%;
}

@keyframes rotate_image {
  100% {
    transform: rotate(360deg);
  }
}

.ReactModal__Content {
  width: 500px;
  height: 500px;
  animation: 야스 5000ms linear infinite;
}

/* 야스 수준 */
@keyframes 야스 {
  /* 그 이거 저거 그 저거 주석 어 from { */
  0% {
    transform: scale(0.01) rotate3d(1, 1, 1, 0deg) translate(0px);
  }

  50% {
    transform: scale(1) rotate3d(1, 1, 0.5, -360deg) translate(-500px);
  }

  100% {
    transform: scale(0.01) rotate3d(1, 1, 1, 0deg) translate(0px);
  }
}
